nav{
    width:100%;
    display: flex;    
    padding: 10%;
    padding-top: 0;
    padding-bottom: 0;
    background-color: beige;
    box-shadow:0 1px grey;
    
}
*, ::after, ::before {
    box-sizing: border-box;
}
@media only screen and (min-width: 768px){
    nav div ul li{
        margin:auto 20px;
    }
    }
@media only screen and (max-width: 768px){
nav div ul li{
    text-align: center;
    border-bottom: 1px solid black;
}
}
div.container h2{
    text-align: center;
}
div.pin{
    display: flex;
    margin:10px auto;
    background-color:antiquewhite ;
    padding:10px;
    filter: drop-shadow(0 1px 1px black)
}
div.pin div{
display: flex;
flex-direction: column;
text-align: center;
}
div.pin div img{
    width:300px;
    box-shadow: 1px 1px black;
}
div.pin p{
    display: flex;
    padding-left: 10px;
}
div.compiler{
    display: flex;
    background-color: beige;
    filter: drop-shadow(0 1px 1px black);
    margin: 10px auto;
    flex-direction: column;
}
div.input h4, div.output h4{
    text-align: center;
}
div.input div.buttons{
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
}
div.share{
    display: flex;
    margin: 10px auto;
}
div.share{
    display: flex;
    margin:10px auto;
    background-color:antiquewhite ;
    padding:10px;
    filter: drop-shadow(0 1px 1px black);
    justify-content: center;
    text-align: center;
}
div.compiler div.language{
    display: flex;
    flex-direction: row;
    justify-content: end;
}
div.coding{
    display: flex;
    justify-content: space-evenly;
}
