body{
    background-color: darkgrey;
    font-family: ff-tisa-sans-web-pro, sans-serif;
    font-style: normal;
    font-weight: 100;
    color: black;
    max-height: min-content;
}

#footer{
    position:relative;
    bottom:0;
    width:100%;
    text-align:center;
    background-color: beige;
    margin:0;
}

#logo{
    max-width: 64px;
}


nav{
    font-size: x-large;
    background-color: beige;
    justify-content:center;
    align-items: center;
    vertical-align:middle;
}

@media only screen and (min-width: 1500px){
    .btn{
        display: none;
    }
    .toggling{
        display: none;
    }
    .nav-link{
        color: black;
        margin:0 10px 0 10px;
    }
}
@media only screen and (max-width: 1500px){
    nav{
        box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 0px;
    }
    .nav-item{
        display:none;
    }
    a.active{
        margin-left:43%;
    }
    .toggling{
        background-color: beige;
       
    }
    ul{
        margin-left:40%;
        padding: 2px;
    }
    li.togle{
        border-left: 2px solid black;
        padding-left: 3px;
        max-width: fit-content;
        margin-top: 2px;

    }
}
@media only screen and (max-width: 1000px){
    a.active{
        margin-left:30%;
    }
    ul{
        margin-left:20%;
        padding: 2px;
    }
}
@media only screen and (max-width: 500px){
    a.active{
        margin-left:10%;
    }
    
}
.btn{
    position:absolute;
    top:25%;
    right: 30px;
    left:auto;
    border:0;
}
.nav-link{
    color: black;
}
a{
    text-decoration: none;
    color: black;
}
h1{
    color: black;
    display: flex;
    justify-content:center;
    align-items: center;
}
h3{
    text-align: center;
    color: black;
}
.pin{
    border: 1px solid #dddd;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;
    background-color: beige;
}
.bar{
    position: relative;
    display: flex;
    justify-content:center;
    align-items: center;
}
.cont{
    position: relative;
    margin-top: 2%;
    margin-bottom: 10%;
}
.crc{
    background-color: beige;
    box-shadow:rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
}
div.crc h4{
    border-bottom: black solid 1px;
    max-width: fit-content;
}
div.crc p{
    margin: auto;
}
h4 img{
    height:25px;
    border:none;
}
div.pin img{
    position: relative;
    max-width:200px;
}
div.pin h4{
    position: relative;
   
}
div.container.a{
    background-color: beige;
    padding-bottom: 10px;
    box-shadow:rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 20px;
}