button:hover,
button:focus,
button:active
 {
  outline: none;
  box-shadow: none !important;
  -webkit-appearance: none;
}
.form-box{
    display:flex;
    flex-wrap: wrap;
    width:300px;
    height:max-content;
    margin:auto;    
    background-color: white;
    filter: drop-shadow(0 1px 1px white);
    align-content: stretch;
    align-items: flex-start;
    transition: 5s;
}
.form-buttons{
    display: flex;
    height: 50px;
    margin:10px auto 0;
}

.login{
    display: flex;
    margin: auto;
    flex-direction: column;
    transition: 2s;
    height:max-content;
    align-content: center;
    align-items: center;
    margin-top: 10%;
}
.register{
    display: flex;
    margin: auto;
    flex-direction: column;
    transition: 2s;
    height:max-content;
    align-content: center;
    align-items: center;
    margin-top: 10%;
}
div.login button,
div.register button{
    display: flex;
    width: max-content;
    margin: auto;
}
button.r{
    background-color: beige;
    border-radius: 0 5% 5% 0;
}
button.l{
    background-color: whitesmoke;
    border-radius: 5% 0 0 5%;
}
