{% extends 'main/base.html' %}

{% block content %}

        <form action = "{% url 'main:compile' %}" method="POST">

<div class="compiler">
    <div class="language">
        {% csrf_token %}
        <p>language:</p>
        <select class="form-select" name="language_select" id="languages">
            <option value= "nodejs">NodeJS</option>
            <option value= "python3">python</option>
            <option value="java">java</option>
        </select>

</div>

<div class="coding">
    {% csrf_token %}
    <div class="input" ><h4>Input</h4><textarea class="form-control" name="code" cols = 80 rows = 20 >{{user_code}}</textarea>
        <div class="buttons">
            <button class="btn" type="submit" name="submit_code" value="submit_code">submit code</button>
            <button class="btn" type="submit" name="share_code" value="share_code">share code</button>
        </div>
    </div>


<div class="output"><h4>Output</h4><textarea class="form-control" cols = 80 rows = 20>{{output.output}}</textarea>
    {% csrf_token %}
    <p>Status Code: {{output.statusCode}}</p>
    <p>CPU time: {{output.cpuTime}}</p>
    <p>{{output.error}}</p>

</div>
</div>
</div>
            </form>

<div class="container ">
    <h2>Shared codes</h2>
    {% if latest_codes %}
    {% for code in latest_codes %}
    <div class="share">
            <h4>Author:</h4>
            <textarea class="form-control" type="text" cols = 80 rows = 20 >{{code.code}}
                </textarea>
                <button class="btn" type="submit"></button></div>
    {% endfor %}
    {% endif %}
    </div>

</div>

{% endblock %}




