{% extends 'main/base.html' %}

{% block content %}
{% if latest_articles %}

    {% for article in latest_articles %}
        <div class ="container">
        <div class="row pin">
        <a href="{% url 'main:detailCrypto' article.id %}">{{article.article_title}}</a>
            <p>{{article.article_text}}</p>
        </div>
    </div>
    {% endfor %}

    {% for crypto in api_data %}
    <p>{{crypto.name}}</p>
    {% endfor %}

    {% else %}
        No articles were found! :c
    {% endif %}{% endblock %}