{% extends 'main/base.html' %}

{% load static %}

  {% block content %}

    <form method="POST" action = "{% url 'main:login' %}">
      {% csrf_token %}
      <div class="login">
<!--          <p>Username:</p>-->
<!--          <input type="text" name="username">-->
<!--&lt;!&ndash;                      {{form.username}}&ndash;&gt;-->
<!--          <p>Password:</p>-->
<!--          <input type="password" name="password1">-->
<!--&lt;!&ndash;                      {{form.password1}}&ndash;&gt;-->
          {{ form.as_p }}
        <p>{{message}}</p>
          <button class="btn" type="submit">Sign up</button>
      </div>

  </form>


<link rel="stylesheet" href="{% static 'main/css/profile.css' %}">
{% endblock %}

