{% extends 'main/base.html' %}

{% load static %}

  {% block content %}
    <form method="POST" action="{% url 'main:register' %}">
      {% csrf_token %}
      <div class="register">
          <p>Username:</p>
<!--          <input type="text" name="username">-->
                      {{form.username}}
          <p>Password:</p>
<!--          <input type="password" name="password1">-->
                      {{form.password1}}
          <p>Confirm password</p>
<!--          <input type="password" name="password2">-->
                      {{form.password2}}
                      <p>{{form.errors}}</p>
          <button class="btn" type="submit" name="register">Sign up</button>

      </div>

  </form>

<link rel="stylesheet" href="{% static 'main/css/profile.css' %}">
{% endblock %}
