{% extends 'main/ru/baseru.html' %}

{% load static %}

  {% block content %}

    <form method="POST" action="{% url 'main:registerRu' %}">
      {% csrf_token %}
      <div class="register">
          <p>Имя:</p>
                      {{form.username}}
          <p>Пароль:</p>
                      {{form.password1}}
          <p>Подтвердите пароль:</p>
                      {{form.password2}}
                      <p>{{form.errors}}</p>
          <button class="btn" type="submit" name="register">Зарегистрироваться</button>

      </div>

  </form>


<link rel="stylesheet" href="{% static 'main/css/profile.css' %}">
{% endblock %}